// Colors
$color-bubble-gum-pink: #ff5ab7;
// $color-black: #1e1e1e;
$color-pinkish-grey: #c4c4c4;
$color-warm-grey: #888;
$color-black-two: #121212;
$color-black: #000;
$color-white: #fff;
$color-dodger-blue: #379cf6;
$color-medium-blue: #307bbe;
$color-black-5: rgba(0, 0, 0, 0.05);
$color-azure: #0290ff;
$color-white-two: #fafafa;
$color-pale-grey: #f5f6fa;

// Screen sizes
$screen-md-min: 768px;
$screen-sm-min: 576px;
