@import "./variables";
@import "./mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  background-color: $color-white-two;
}

button {
  cursor: pointer;
  font-size: 16px;
}

// Header
.navbar {
  margin: 0 0 2.375rem;
  padding: 1.438rem 1rem 1.688rem 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $color-white;

  @media (min-width: $screen-md-min) {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
}

.logo-text {
  font-size: 1.875rem;
  font-weight: bold;
  color: $color-azure;

  @include font-primary;
}

.nav-link {
  margin: 0 0 0 2.563rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: $color-black-two;

  &:not(.active) {
    opacity: 0.5;
  }
}

.oval {
  width: 2.813rem;
  height: 2.813rem;
  margin: 0 0 0 auto;
  padding: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
}

.mask {
  width: 1.063rem;
  height: 1.063rem;
}

// Category filter
.filter-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 2.313rem 1rem 0;

  @media (min-width: $screen-md-min) {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }
}

#category-filter {
  margin-left: auto;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: $color-white;
  width: 17.813rem;
  padding: 0.813rem 0.938rem 0.813rem 1rem;
}

// Book list
.book-list {
  list-style: none;
}

// Book item
.book-item {
  margin: 2.313rem 1rem 0;
  padding: 2rem 1.688rem 1.625rem 1.688rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: $color-white;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
    align-items: center;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }

  // Book info column
  .book-info-wrapper {
    margin-bottom: 1.25rem;

    @media (min-width: $screen-md-min) {
      margin-bottom: 0;
    }

    .book-category {
      opacity: 0.5;
      font-family: "Montserrat", sans-serif;
      font-size: 0.875rem;
      font-weight: bold;
      color: $color-black-two;
    }

    .book-title {
      margin: 0.188rem 0 0 0;
      font-size: 1.375rem;
      font-weight: bold;
      letter-spacing: -0.2px;
      color: $color-black-two;

      @include font-secondary;
    }

    .book-author {
      margin: 0.25rem 0 0;
      font-size: 0.875rem;
      font-weight: 300;
      color: #4386bf;

      @include font-secondary;
    }

    .book-links {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1.5rem;
      margin-bottom: 0.125rem;

      button {
        padding: 0;
        font-size: 0.875rem;
        font-weight: 300;
        background-color: transparent;
        color: #4386bf;
        border: none;

        @include font-secondary;

        &:not(:last-child) {
          margin-right: 1.063rem;
        }

        &:not(:first-child) {
          border-left: solid 1px #e8e8e8;
          padding-left: 1.063rem;
        }
      }
    }
  }

  // Book progress column
  .progress-info-wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-sm-min) {
      flex-direction: row;
    }

    .left {
      width: auto;
      margin-bottom: 1.25rem;

      @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
      }

      .progress-circle {
        width: 4.25rem;
        height: 4.25rem;
        border-style: solid;
        border-width: 5px;
        border-radius: 50%;
        border-color: $color-dodger-blue;
        border-left-color: #eee;
        border-image-slice: 1;
      }

      .progress-percentage {
        margin: 0.063rem 0 0 0;
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        color: $color-black-two;
      }

      .progress-text {
        margin: 0.438rem 0 0.75rem 0;
        opacity: 0.5;
        font-size: 0.875rem;
        color: $color-black-two;

        @include font-primary;
      }
    }

    .right {
      display: flex;
      flex-direction: column;

      span:nth-child(1) {
        margin: 0.063rem 0 0 0;
        opacity: 0.5;
        font-size: 0.813rem;
        font-weight: 300;
        color: $color-black-two;

        @include font-secondary;
      }

      span:nth-child(2) {
        margin: 0.438rem 0 0.25rem 0;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: -0.4px;
        color: $color-black-two;

        @include font-secondary;
      }

      .progress-update-btn {
        width: fit-content;
        margin: 0.75rem 0 0 0;
        padding: 0.438rem 1.188rem 0.5rem 1.375rem;
        border: none;
        border-radius: 3px;
        background-color: $color-azure;
        font-size: 0.813rem;
        font-weight: 300;
        letter-spacing: 0.5px;
        text-align: center;
        color: $color-white;

        @include font-secondary;
      }
    }

    .divider {
      width: 0.125rem;
      height: 4.375rem;
      margin: 2rem;
      border: solid 1px #e8e8e8;
      display: none;

      @media (min-width: $screen-sm-min) {
        display: initial;
      }
    }
  }
}

// Book form

.book-form {
  margin: 3.5rem 1rem 5rem 1rem;
  border-top: solid 1px #e8e8e8;

  @media (min-width: $screen-md-min) {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .form-title {
    margin: 1.813rem 0 1.188rem 0;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: -0.18px;
    color: $color-warm-grey;

    @include font-primary;
  }

  .form-control {
    margin: 1.188rem 2.125rem 1.188rem 0;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    background-color: $color-white;
  }

  .title-input {
    width: 90%;
    margin-right: 0;
    padding: 0.813rem 1.063rem 0.813rem 1.063rem;

    @media (min-width: $screen-md-min) {
      width: 41.5rem;
    }
  }

  .category-select {
    width: 17.813rem;
    padding: 0.813rem 0.938rem 0.813rem 1rem;
  }

  [type="submit"] {
    padding: 0.801rem 1.188rem 0.886rem 1.375rem;
    border: none;
    border-radius: 3px;
    background-color: $color-azure;
    font-size: 0.813rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    color: $color-white;
    line-height: 1;

    @include font-secondary;
  }
}
