$color-primary: rgb(248, 239, 227);
$color-grey: #aaa;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
}

button {
  padding: 0.5rem 1rem;
}

button,
select {
  cursor: pointer;
}

ul {
  list-style: none;
}

// Layout
#root {
  width: 100vw;
  display: flex;
  flex-direction: column;

  @media (min-width: 992px) {
    height: 100vh;
    max-height: 100vh;
    flex-direction: row;
  }
}

#book-list-container,
#book-form-container {
  min-height: 50%;
  padding: 1rem;

  @media (min-width: 992px) {
    width: 50%;
    height: 100%;
    padding: 2rem;
    max-height: 100%;
    overflow-y: scroll;
  }
}

#book-list-container {
  background-color: $color-primary;
}

#book-form-container {
  background-color: darken($color-primary, 5%);
}

.book-list {
  margin-bottom: 3rem;
}

.book-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $color-grey;
}

.book-title {
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.book-category {
  font-weight: bold;
  font-size: 14px;
  color: darken($color-grey, 30%);
}

.book-id {
  color: darken($color-grey, 2%);
  font-weight: lighter;
  font-family: monospace;
}

.book-remove-btn {
  padding: 0;
  border: none;
  color: dodgerblue;

  &:hover {
    text-decoration: underline;
  }
}

.book-form {
  display: flex;
  flex-direction: column;

  @media (min-width: 992px) {
    width: 70%;
    margin: auto;
  }
}

.input-group {
  margin-bottom: 2rem;
  display: flex;
  text-align: left;
}

.form-control {
  padding: 0.5rem;
  width: 100%;
}

.form-label {
  width: 100%;

  .form-control {
    margin-top: 0.25rem;
  }
}
